<section class="st-admin-content">
 <header class="st-admin-header">
  <div class="st-admin-header__wrapper">
   <div class="head d-flex">
    <div class="logo-sticky d-flex">
     <i class="fas fa-search"></i>
     <input type="text" class="search-bar" placeholder="Search food ...">
    </div>
    <div class="nav-sticky d-flex">
     <div class="nav">
      <div class="notify" id="notify"><i class="fas fa-bell"></i></div>
      <div class="mess" id="mess"><i class="fas fa-comment"></i></i></div>
      <div class="bonus" id="bonus"><i class="fas fa-gift"></i></div>
     </div>
     <div class="user-profile d-flex">
      <div class="desc">
       <p class="user__greeting">Good morning</p>
       <h5 class="user__name">James Sullivan</h5>
      </div>
      <div class="present">
       <div class="present__img--wrapper"></div>
      </div>
     </div>
    </div>
   </div>
   <div class="body d-flex">
    <div class="left">
     <div class="logo-sticky d-flex">
      <div class="hamburger">
       <span class="line"></span>
       <span class="line"></span>
       <span class="line"></span>
      </div>
      <h4 class="title">
       <%= pageName %>
      </h4>
     </div>
    </div>
    <div class="right col-6" aria-label="breadcrumb">
     <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item active">Product</li>
     </ol>
    </div>
   </div>
  </div>
 </header>