<aside class="st-admin-sidebar">
  <div class="st-admin-sidebar__wrapper">
    <div class="logo" id="main-logo">
      <div class="logo__wrapper row">
        <img class="col-6" src="../assets/logo-dark.png" alt="The logo of steak-in restaurant" width="100px"
          height="50px">
        
      </div>
    </div>

    <div class="menu-list">
      <div class="menu">
        <div class=" menu__item mm-active">
          <div>
            <a href="/admin">Dashboard</a>
            <span class="float-end">
              <i class="fas fa-chevron-right"></i>
            </span>
          </div>
        </div>
        <div class="menu__item">
          <div>
            <a href="/admin/AddFood">App</a>
            <span class="float-end">
              <i class="fas fa-chevron-right"></i>
            </span>
          </div>
        </div>
        <div class="menu__item">
          <div>
            <a href="/admin/product">Review</a>
            <span class="float-end">
              <i class="fas fa-chevron-right"></i>
            </span>
          </div>
        </div>
        <div class="menu__item">
          <div>
            <a href="">Order</a>
            <span class="float-end">
              <i class="fas fa-chevron-right"></i>
            </span>
          </div>
        </div>
        <div class="menu__item">
          <div>
            <a href="">Customer</a>
            <span class="float-end"><i class="fas fa-chevron-right"></i></span>
          </div>
        </div>
        <div class="menu__item">
          <div><a href="">Table</a>
            <span class="float-end"><i class="fas fa-chevron-right"></i></span>
          </div>
        </div>
        <div class="menu__item">
          <div><a href="">Analysis</a>
            <span class="float-end"><i class="fas fa-chevron-right"></i></span>
            </d>
          </div>
        </div>
      </div>
    </div>
</aside>