img {
  -o-object-fit: stretch;
     object-fit: stretch;
  width: 100%;
  height: 100%;
}

.main__content--left {
  padding: 0 20px 50px;
}

.main__content--left .toolbar {
  margin-bottom: 20px;
}

.main__content--left .toolbar__form {
  margin: 0;
  padding: 15px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content--left .toolbar__form--card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__content--left .toolbar__form--card .col__input {
  margin: 0;
}

.main__content--left .toolbar__form--card .col__input--selector {
  padding: 3px 10px 3px 0;
  font-size: 0.8em;
  outline: none;
  width: 100%;
}

.main__content--left .toolbar__form label.col-label {
  font-size: 0.9em;
  font-weight: 900;
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main__content--left .toolbar__form #category-view {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main__content--left .toolbar__form #category-view .view-as {
  border: 1px solid black;
  padding: 2px 5px;
  margin-left: 5px;
  aspect-ratio: 1/1;
  color: rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__content--left .toolbar__form #category-view .view-as:hover {
  color: #bb9356;
}

.main__content--left .toolbar__form #category-view .active {
  color: #bb9356;
}

.main__content--left .product__items .img-wrapper {
  width: 100%;
  height: 300px;
  min-width: 150px;
  position: relative;
}

.main__content--left .product__items .img-wrapper .btn-cart {
  background-color: #bb9356;
  border-radius: 0;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  -webkit-transition: all 0.35s 0.2 ease-in;
  transition: all 0.35s 0.2 ease-in;
}

.main__content--left .product__items .img-wrapper__gray {
  position: absolute;
  bottom: 50%;
  left: 50%;
  height: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.main__content--left .product__items .img-wrapper:hover .gray {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.main__content--left .product__items .img-wrapper:hover .btn-cart {
  visibility: visible;
  width: 70%;
  padding: 15px 20px;
  z-index: 1;
}

.main__content--left .product__items .item__content {
  padding: 10px 0;
}

.main__content--left .product__items .item__content--title {
  font-size: 1.2rem;
  font-weight: 800;
}

.main__content--left .product__items .item__content--msg {
  font-size: 0.9em;
}

.main__content--left .product__items .item__content--footer {
  font-size: 0.9em;
  color: #bb9356;
  font-weight: 800;
  text-align: right;
}

.pagination .page-item {
  margin-right: 10px;
}

.pagination .page-item .btn-primary {
  background-color: black;
  color: #fff;
}

.pagination .page-item:hover {
  background-color: blue;
}

.pagination .page-arrow-point {
  margin: 0 15px;
}
/*# sourceMappingURL=admin-product.css.map */