.analysis__restaurant--card {
  margin-top: 20px;
  font-weight: 600;
  select {
    outline: none;
    border: none;
    vertical-align: super;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .card {
    &__title {
      align-items: center;
      &--main {
        font-weight: 600;
      }
      &--nav {
        ul {
          background: #fff;
          border: 1px solid rgba($color: #000000, $alpha: 0.3);
          align-items: center;
          padding: 2px;
          li {
            height: 100%;

            button {
              height: 100%;
              color: rgba($color: #000000, $alpha: 0.6);
              font-weight: 600;
              &.active {
                background: rgba($color: #000000, $alpha: 0.8);
              }
            }
          }
        }
      }
    }
    &__body {
      .product {
        background: #fff;
        padding: 20px;
        .item {
          background: #fff;
          padding: 10px 0;
          align-items: center;
          .desc {
            align-items: center;
            .img {
              &__wrapper {
                border-radius: 10px;
                width: 110px;
                aspect-ratio: 1 / 1;
                background: blue;
                position: relative;
                overflow: hidden;
                span {
                  border: 4px solid #fff;
                  padding: 5px;
                  position: absolute;
                  left: 50%;
                  bottom: -60%;
                  transform: translate(-50%, -50%);
                  background: chocolate;
                  font-weight: 700;
                }
                &.img-sm {
                  width: 50px;
                  overflow: visible;
                }
                &.img-xl {
                  width: 100%;
                  height: 250px;
                }
              }

              &__msg {
                padding: 0 0 0 10px;
                h5 {
                  margin: 0;
                }
                .rating {
                  margin-bottom: 10px;
                  width: 50px;
                  .star-rate {
                    position: relative;
                    display: inline-block;
                  }
                }
                .title,
                .desc {
                  padding: 5px 0;
                }
              }
            }
          }
          .static {
          }
          .percent-static {
            text-align: center;
          }
          .order-amount {
            align-self: flex-end;
          }
          .order-amount {
            .amount {
              font-weight: 700;
            }
          }
        }
        &.user {
          .item {
            .desc {
              .img {
                &__wrapper {
                  width: 80px;
                }
              }
            }
          }
        }
      }
    }
    .fa {
      &-heart,
      &-chart-bar {
        color: coral;
      }
    }
  }
  .price {
    font-weight: 800;
  }
}
