$redHeading: rgb(56, 146, 142);
$primaryFooter: rgb(43, 235, 23);
$active-tab: rgba(0, 0, 0, 0.1);

html {
  font-size: 12px;
}
nav {
  font-size: 3rem;
  color: $redHeading;
}
footer {
  font-size: 10rem;
  color: $primaryFooter;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.sticky {
  background-color: #fff;
  border-bottom: 1px solid $active-tab;
}

.disappear {
  display: none;
}

.st-admin-sidebar {
  position: relative;
  z-index: 99;
  .close-ico {
    position: absolute;
    right: 10px;
    top: 15px;
    display: none;
    &:hover {
      cursor: pointer;
    }
  }
  &__wrapper {
    width: 20%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 0;
    box-shadow: 1px 0px 10px 0.2px black;
    .logo {
      padding: 16px 0;
      position: sticky;
      top: 0;
      left: 0;
      background-color: #fff;
      z-index: 200;
      &__wrapper {
        justify-content: center;
        padding: 10px;
        background-position: center;
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        width: 100%;
        height: 50px;
        position: relative;
        img {
          object-fit: fill;
          width: 120px;
          height: 30px;
        }
      }
    }

    .menu-list {
      .menu {
        &__item {
          font-size: 1.1em;
          font-weight: 400;
          .title {
            i {
              vertical-align: middle;
            }
          }
          h5 {
            padding: 10px 20px 0;
          }
          dl {
            margin: 0;
            dt {
              padding: 10px 0px 10px 42px;
              font-weight: 400;
              cursor: pointer;
              p {
                margin: 0;
              }
            }
            dd {
              padding: 5px 50px;
              font-weight: 100;
              background-color: #fff;
            }
          }
          span {
            font-size: 0.8em;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.st-admin-header {
  position: relative;
  z-index: 10;
  height: 80px;
  width: 100%;
  background-color: #fff;
  &__wrapper {
    position: fixed;
    padding: 0 20px;
    left: 20%;
    top: 0;
    width: 77%;
    height: 82px;
    box-sizing: content-box;
    background-color: #fff;
    .head {
      justify-content: space-between;
      align-items: center;
      .logo-sticky {
        position: relative;
        align-items: center;
        font-size: 1.5em;
        input {
          margin-left: 20px;
          font-size: 0.6em;
          width: 220px;
        }
      }
    }
    .body {
      justify-content: space-between;
      align-items: center;
      .left {
        .logo-sticky {
          position: relative;
          align-items: center;
          .hamburger {
            width: 40px;
            position: relative;
            display: inline-block;
            height: 40px;
            padding-top: 5px;
            .line {
              display: block;
              background-color: #000;
              width: 20px;
              height: 3px;
              margin: 4px 0;
              border-radius: 3px;
              transition: all 0.3s ease-in-out;
              &:first-child {
                width: 15px;
              }
            }
          }
        }
      }
      .right {
        margin-right: 30px;
        .breadcrumb {
          margin: 0;
          &-item {
            font-weight: 400;
            &.active {
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .nav-sticky {
    align-items: center;
    .nav {
      div {
        padding: 0 20px;
        font-size: 1.5rem;
      }
    }
    .user-profile {
      text-align: right;
      align-items: center;
      .desc {
        margin: 0 10px 0 20px;
        .user__greeting {
          margin: 0;
          opacity: 0.4;
          font-size: 1em;
        }
        .user__name {
        }
      }
      .present {
        &__img--wrapper {
          background: url("https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png")
            no-repeat;
          background-size: 100%;
          width: 30px;
          height: 30px;
          border: none;
          border-radius: 50%;
          background-color: royalblue;
        }
      }
    }
  }
}

.st-admin-content {
  flex-grow: 1;
  height: 10px;
}

.st-admin-body {
  position: relative;
  left: 20%;
  padding: 20px 60px;
  z-index: -1;
  width: 80%;
  background-color: $active-tab;
}
