<%- include('./client/head.ejs') %>
    <link rel="stylesheet" href="sass/StyleAbout.css">
    <%- include('./client/body.ejs') %>

            <section class="st-client-content">
                <div>
                    <div class="p-5 bg-dark About bg-overlay">
                        <div class="container text-center text-light">
                            <h3 class="title">About Us</h3>
                            <h2 class="title">We Are Steak In!</h2>
                            <ol class="breadcrumb m-auto mt-5" arial-label="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Products</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <!-- end header -->

                <div class="container hello">
                    <div class="row text-center intro">
                        <div class="col-8 ms-auto me-auto">
                            <h3 class="title">Hello Dear</h3>
                            <h2 class="title">We Are Steak In!</h2>
                            <div class="shape"></div>
                            <p class="description">This is the paragraph where you can write more details about your
                                product.
                                Keep you user engaged by providing meaningful information. Remember that by this time,
                                the user
                                is curious, otherwise he wouldn&apos;t scroll to get here. Add a
                                button if you want the user to see more.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <img src="/assets/hello.jpg" class="img-thumbnail" alt="">
                        </div>
                        <div class="col-5">
                            <img src="/assets/hello.jpg" class="img-thumbnail" alt="">
                        </div>
                    </div>
                    <div class="row signed text-center">
                        <div class="col">
                            <img src="/assets/Signature.png" class="img-thumbnail" alt="">
                        </div>
                    </div>
                </div>
                <div class="p-5 bg-dark text-center text-white maxin">
                    <div class="container">
                        <h5 class="display-3"><img src="/assets/chef-hat.png"></h5>
                        <p>
                            If you really want to make a friend, go to someone's house and eat with him... the people
                            who give
                            you their food give you their heart.
                        </p>
                        <span>- Cesar Chavez -</span>
                    </div>
                </div>
                <div class="p-5 bg-light text-center award">
                    <div class="container">
                        <h3>
                            Steak In has the perfect place to enjoy fine food and great cocktails with excellent
                            service, in
                            comfortable atmospheric surroundings.
                        </h3>
                        <img src="/assets/award-food.png" class="img-thumbnail" alt="">
                        <p>
                            The Best Chef in Egypt & Best Restaurant (2012, 2013)The Best Emerging Egypt Cuisine
                            (2012)The Best
                            Dining Experience (2011)The Best Chef in Egypt (2010)The Egyptian Star (2009)
                        </p>
                    </div>
                </div>
                <div class="p-5 bg-dark review text-center">
                    <div class="container intro">
                        <div class="row text-white">
                            <h3>Review</h3>
                            <h2>Happy Customer</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12 bg-white">
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <p>
                                    What I've enjoyed most, though, is meeting people who have a real interest in food
                                    and
                                    sharing ideas with them. Good food is a global and amazing thing.
                                </p>
                                <img src="/assets/avatar.png" class="img-thumbnail" alt="">
                                <p>Almed Ibramovic</p>
                            </div>
                            <div class="col-lg-3 col-sm-12  bg-white">
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <p>
                                    What I've enjoyed most, though, is meeting people who have a real interest in food
                                    and
                                    sharing ideas with them. Good food is a global and amazing thing.
                                </p>
                                <img src="/assets/avatar.png" class="img-thumbnail" alt="">
                                <p>Almed Ibramovic</p>
                            </div>
                            <div class="col-lg-3 col-sm-12  bg-white">
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <p>
                                    What I've enjoyed most, though, is meeting people who have a real interest in food
                                    and
                                    sharing ideas with them. Good food is a global and amazing thing.
                                </p>
                                <img src="/assets/avatar.png" class="img-thumbnail" alt="">
                                <p>Almed Ibramovic</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-5 bg-light event">
                    <div class="container intro">
                        <div class="row text-center">
                            <h3>Event</h3>
                            <h2>Event & News Food</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <span>
                                    Mar 15,2017
                                    <a href="#">Monday, Tomato</a>
                                </span>
                                <h4>The Great Monday Breakfast</h4>
                                <img src="/assets/news-food-1.jpg" class="img-thumbnail" alt="">
                                <p>
                                    We actually share a lot of meals with them outside in the garden under the big
                                    walnut tree,
                                    during winter around the campfire or inside in their or our flat - it's so special
                                    to have
                                    such close friends...
                                </p>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <span>
                                    Mar 15,2017
                                    <a href="#">Monday, Tomato</a>
                                </span>
                                <h4>The Great Monday Breakfast</h4>
                                <img src="/assets/news-food-1.jpg" class="img-thumbnail" alt="">
                                <p>
                                    We actually share a lot of meals with them outside in the garden under the big
                                    walnut tree,
                                    during winter around the campfire or inside in their or our flat - it's so special
                                    to have
                                    such close friends...
                                </p>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <span>
                                    Mar 15,2017
                                    <a href="#">Monday, Tomato</a>
                                </span>
                                <h4>The Great Monday Breakfast</h4>
                                <img src="/assets/news-food-1.jpg" class="img-thumbnail" alt="">
                                <p>
                                    We actually share a lot of meals with them outside in the garden under the big
                                    walnut tree,
                                    during winter around the campfire or inside in their or our flat - it's so special
                                    to have
                                    such close friends...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Bootstrap JavaScript Libraries -->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
            <%- include('./client/end.ejs') %>