<%- include('./admin/head.ejs') %>
  <%# This part for additional css %>


    <%- include('./admin/body.ejs') %>
      <section class="st-admin-body">
        <%# This part for body html %>
          <h1>This is a dashboard</h1>
      </section>
      <%- include('./admin/end.ejs') %>