<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Steak-in restaurant</title>
</head>

<body>
 <main>
  <aside>
   <div class="logo" id="main-logo">
    <div class="logo__wrapper"></div>
   </div>

   <div class="menu-list">
    <div class="menu">
     <div class="menu__item"><a href="/admin/add-product">Food</a></div>
     <div class="menu__item">Dashboard</div>
     <div class="menu__item">Review</div>
     <div class="menu__item">Order</div>
     <div class="menu__item">Customer</div>
     <div class="menu__item">Table</div>
     <div class="menu__item">Analysis</div>
    </div>
   </div>
  </aside>
  <section id="main" class="main">
   <header>
    <div class="logo-sticky">
     <span>==</span>
     Widget
    </div>

    <div class="right-side">
     <div class="nav">
      <div class="notify" id="notify"></div>
      <div class="mess" id="mess"></div>
      <div class="bonus" id="bonus"></div>
     </div>
     <div class="user-profile">
      <div class="desc">
       <p class="user__greeting">Good morning</p>
       <h2 class="user__name">James Sullivan</h2>
      </div>
      <div class="present">
       <div class="present__img--wrapper"></div>
      </div>
     </div>
    </div>
   </header>
   <nav>
    <div class="left">
     <div class="greeting">
      <h2>Hi,welcome back!</h2>
      <p>Statistics</p>
     </div>
    </div>
    <div class="right">
     <div class="breadscrumb">
      <ol class="breadscrumb">
       <li class="breadcrumb-item" aria-current="page">Widget</li>
       <li class="breadcrumb-item">Statistics</li>
      </ol>
     </div>
    </div>
   </nav>

   <div class="timeline-list">
    <div class="timeline">
     <div class="timeline__item">
      <div class="timeline__item--header">
       <h2>Timeline</h2>
      </div>


     </div>
     <div class="timeline__item">
      <div class="timeline__item--header">
       <h2>Timeline</h2>
      </div>
     </div>
     <div class="timeline__item">
      <div class="timeline__item--header">
       <h2>Timeline</h2>
      </div>
     </div>
    </div>
   </div>
  </section>
 </main>


 <form action="/admin/add-product" method="POST">
  <input type="text" name="title">
  <button type="submit">Submit</button>
 </form>
</body>

</html>